[Unit]
Description=gymapp Postgres (compose)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/etc/gymapp
ExecStart=/usr/bin/docker compose -f /etc/gymapp/postgres-compose.yml up -d
ExecStop=/usr/bin/docker compose -f /etc/gymapp/postgres-compose.yml down
ExecReload=/usr/bin/docker compose -f /etc/gymapp/postgres-compose.yml restart

[Install]
WantedBy=multi-user.target
